body{
  background-color: orange;
}

.boxing-header {
  position: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.boxing-title{
 position: relative;
 left: 500px;
}

/*.boxingdesc{
line-height: 1.5;
margin: auto;
padding: 20vh 0vh 15vh 0vh;
background-color: white;
text-align: justify;
width: 70%;
font-size: 40px;
}*/

.boxing-image{
  height:400px;
  width: 400px;
  background-position: left;
  background-size: cover;
  position: relative;
  left: 100px;
  top: 100px;
  padding: 100px;

}

.boxing-info{
  position: relative;
  left: 300px;
  top: 200px;
  font-size: 20px;

}

.boxing-type{
  position: relative;
  left: 300px;
  top: 200px;
  font-size: 20px;
}

.boxing-location{
  position: relative;
  left: 300px;
  top: 200px;
  font-size: 20px;
}

/*.left-line{
  position: relative;
  border-left: 6px solid black;
  height: 300px;
  left: 300px;
}

.right-line{
  position: relative;
  border-right: 6px solid black;
  height: 300px;
  left: 50px;
  left: -300px;
}*/

.boxing-container{
  position: relative;
  background-color: white;
  margin-right: 200px;
  margin-left: 200px;
  left: 100px;
}

.add-link{
  position: relative;
  left: 300px;
}

